<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="pers.zhentao.zhaiyi.MostBeautifulRuiGuNiangVote.mapper.AccessInfoMapper">
    <resultMap id="BaseResultMap" type="pers.zhentao.zhaiyi.MostBeautifulRuiGuNiangVote.dto.AccessInfo">
        <result column="access_id" property="accessId" jdbcType="BIGINT"/>
        <result column="open_id" property="openId" jdbcType="VARCHAR"/>
        <result column="created_date" property="createdDate" jdbcType="TIMESTAMP"/>
    </resultMap>
</mapper>