<div style="background-color:#ffffff;width: 100%;height: 150px;position: fixed;bottom: 0;left: 0px;margin: 0px;"
     class="panel panel-default">
    <button id="footer-homepage-btn"
            style="background-color:#ffffff;font-size: 40px;width: 24%;border: 0px;padding: 0px;">
        <i id="footer-homepage-icon"
           style="background: url('/resources/mbrgnv/img/icon-footer.png') no-repeat;background-size:1200px;background-position:0px 0px;width: 100px;height: 100px;display: block;margin: 0 auto;"></i>
        &#x9996;&#x9875;
    </button>
    <button id="footer-ranklist-btn"
            style="background-color:#ffffff;font-size: 40px;width: 24%;border: 0px;padding: 0px;">
        <i id="footer-ranklist-icon"
           style="background: url('/resources/mbrgnv/img/icon-footer.png') no-repeat;background-size:1200px;background-position:-112px 0px;width: 100px;height: 100px;display: block;margin: 0 auto;"></i>
        &#x6392;&#x884C;
    </button>
    <button id="footer-apply-btn" style="background-color:#ffffff;font-size: 40px;width: 24%;border: 0px;padding: 0px;">
        <i id="footer-apply-icon"
           style="background: url('/resources/mbrgnv/img/icon-footer.png') no-repeat;background-size:1200px;background-position:-210px 0px;width: 100px;height: 100px;display: block;margin: 0 auto;"></i>
        &#x62A5;&#x540D;
    </button>
    <button id="footer-explain-btn" style="background-color:#ffffff;font-size: 40px;width: 24%;border: 0px;padding: 0px;">
        <i id="footer-explain-icon"
           style="background: url('/resources/mbrgnv/img/icon-footer.png') no-repeat;background-size:1200px;background-position:-305px 0px;width: 100px;height: 100px;display: block;margin: 0 auto;"></i>
        &#x6D3B;&#x52A8;&#x8BF4;&#x660E;
    </button>
</div>
<script type="text/javascript">
    if (pageIndex == "homepage") {
        $("#footer-homepage-icon").css("background-position", "-407px -5px");
    }else if(pageIndex == "explain"){
        $("#footer-explain-icon").css("background-position", "-706px -5px");
    }else if(pageIndex == "rank"){
        $("#footer-ranklist-icon").css("background-position", "-511px -5px");
    }else if(pageIndex == "apply"){
        $("#footer-apply-icon").css("background-position", "-611px -5px");
    }
    $("#footer-homepage-btn").on("click",function () {
        window.location.href = "/mbrgnv";
    });
    $("#footer-explain-btn").on("click",function () {
        window.location.href = "/mbrgnv/explain";
    });
    $("#footer-ranklist-btn").on("click",function () {
        window.location.href = "/mbrgnv/rank";
    });
    $("#footer-apply-btn").on("click",function () {
        window.location.href = "/mbrgnv/apply";
    });
</script>