<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="pers.zhentao.zhaiyi.mapper.TestMapper">
    <select id="selectByPrimaryKey" resultType="pers.zhentao.zhaiyi.dto.Test">
        SELECT
        ID,NAME,AGE
        FROM test
        <where>
            ID = #{id}
        </where>
    </select>
</mapper>