<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>测一测</title>
</head>
<link type="text/css" rel="stylesheet" href="/lib/bootstrap/css/bootstrap.min.css">
<body style="font-family:SimSun;width: 100%;">
<div class="panel panel-default">
    <div class="panel-body">
        <img style="width: 100%;" src="/resources/tfht/img/page-top.png" class="img-thumbnail">
        <p style="font-size: 55px;text-align: center;">测试你是《我的前半生》中的谁</p>
    </div>
</div>
<div class="panel panel-default" style="margin: 20px;">
    <div class="page-header" style="padding-bottom: 20px;">
        <span class="label label-info" style="font-size: 55px;margin-left: 20px;">Q1</span>
        <span style="font-size: 54px;">你的性别</span>
    </div>
    <div style="text-align: center;padding-bottom: 20px;">
        <button id="girl" style="width: 48%;height: 90px;font-size: 55px;font-weight: bold;background-color: #f7397c"
                class="btn btn-default">
            <i class="glyphicon glyphicon-ok" style="font-size: 40px;display: none;"></i>美女
        </button>
        <button id="boy" style="width: 48%;height: 90px;font-size: 55px;font-weight: bold;background-color: #2f8df7"
                class="btn btn-default">
            <i class="glyphicon glyphicon-ok" style="font-size: 40px;display: none;"></i>帅哥
        </button>
    </div>
</div>
<div class="panel panel-default" style="margin: 20px;">
    <div class="page-header" style="padding-bottom: 20px;">
        <span class="label label-info" style="font-size: 55px;margin-left: 20px;">Q2</span>
        <span style="font-size: 54px;">选出你最喜欢的花</span>
    </div>
    <div id="imgGroup1" style="text-align: center;">
        <div>
            <div style="display: inline;position: relative;">
                <p style="display: none;position:absolute;left: 15px;top: -115px;width: 250px;height: 250px;background-size:250px 250px;background-image: url('/resources/tfht/img/logo.png')"></p>
                <img name="1-1" style="width: 30%;border: 10px solid #ffffff;" src="/resources/tfht/img/flower1.jpg">
            </div>
            <div style="display: inline;position: relative;">
                <p style="display: none;position:absolute;left: 15px;top: -115px;width: 250px;height: 250px;background-size:250px 250px;background-image: url('/resources/tfht/img/logo.png')"></p>
                <img name="1-2" style="width: 30%;border: 10px solid #ffffff;" src="/resources/tfht/img/flower2.jpg">
            </div>
            <div style="display: inline;position: relative;">
                <p style="display: none;position:absolute;left: 15px;top: -115px;width: 250px;height: 250px;background-size:250px 250px;background-image: url('/resources/tfht/img/logo.png')"></p>
                <img name="1-3" style="width: 30%;border: 10px solid #ffffff;" src="/resources/tfht/img/flower3.jpg">
            </div>
        </div>
    </div>
</div>
<div class="panel panel-default" style="margin: 20px;">
    <div class="page-header" style="padding-bottom: 20px;">
        <span class="label label-info" style="font-size: 55px;margin-left: 20px;">Q3</span>
        <span style="font-size: 54px;">哪张图片你最可能发到朋友圈</span>
    </div>
    <div id="imgGroup2" style="text-align: center;">
        <div>
            <div style="display: inline;position: relative;">
                <p style="display: none;position:absolute;left: 15px;top: -115px;width: 250px;height: 250px;background-size:250px 250px;background-image: url('/resources/tfht/img/logo.png')"></p>
                <img name="1-1" style="width: 30%;border: 10px solid #ffffff;" src="/resources/tfht/img/pic1.jpg">
            </div>
            <div style="display: inline;position: relative;">
                <p style="display: none;position:absolute;left: 15px;top: -115px;width: 250px;height: 250px;background-size:250px 250px;background-image: url('/resources/tfht/img/logo.png')"></p>
                <img name="1-2" style="width: 30%;border: 10px solid #ffffff;" src="/resources/tfht/img/pic2.jpg">
            </div>
            <div style="display: inline;position: relative;">
                <p style="display: none;position:absolute;left: 15px;top: -115px;width: 250px;height: 250px;background-size:250px 250px;background-image: url('/resources/tfht/img/logo.png')"></p>
                <img name="1-3" style="width: 30%;border: 10px solid #ffffff;" src="/resources/tfht/img/pic3.jpg">
            </div>
        </div>
        <div>
            <div style="display: inline;position: relative;">
                <p style="display: none;position:absolute;left: 15px;top: -115px;width: 250px;height: 250px;background-size:250px 250px;background-image: url('/resources/tfht/img/logo.png')"></p>
                <img name="2-1" style="width: 30%;border: 10px solid #ffffff;" src="/resources/tfht/img/pic4.jpg">
            </div>
            <div style="display: inline;position: relative;">
                <p style="display: none;position:absolute;left: 15px;top: -115px;width: 250px;height: 250px;background-size:250px 250px;background-image: url('/resources/tfht/img/logo.png')"></p>
                <img name="2-2" style="width: 30%;border: 10px solid #ffffff;" src="/resources/tfht/img/pic5.jpg">
            </div>
            <div style="display: inline;position: relative;">
                <p style="display: none;position:absolute;left: 15px;top: -115px;width: 250px;height: 250px;background-size:250px 250px;background-image: url('/resources/tfht/img/logo.png')"></p>
                <img name="2-3" style="width: 30%;border: 10px solid #ffffff;" src="/resources/tfht/img/pic6.jpg">
            </div>
        </div>
    </div>
</div>
<div style="text-align: center;">
    <button onclick="showResult()" style="width: 95%;font-size: 55px;margin:20px;" class="btn btn-primary">查看结果</button>
</div>
<!-- Result Modal -->
<div class="modal fade" id="resultModal" tabindex="-1" role="dialog" aria-labelledby="resultModalLabel">
    <div class="modal-dialog" role="document" style="width: 90%;max-width: 800px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <p style="font-size: 63px;" class="modal-title" id="resultModalLabel">你的测试结果是：<span
                        id="resultName"></span></p>
            </div>
            <div class="modal-body">
                <img style="width: 100%;" src="/resources/tfht/img/result-top.jpg">
                <img id="resultImg" style="width: 100%;">
                <span id="resultContent" style="font-size: 53px;"></span>
            </div>
        </div>
    </div>
</div>
<div id="processing" style="display: none;position: fixed;bottom: 50%;left: 50%;margin-left: -300px;">
    <p style="font-size: 45px;position: absolute;top:180px;width: 100%;text-align: center;">分析中...</p>
    <img style="width: 600px;height: 500px;" src="/resources/tfht/img/processing.gif">
</div>
</body>
<script type="text/javascript" src="/lib/jquery/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="/lib/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript">
    var gender = "";
    var img1 = "";
    var img2 = "";
    var flag1 = 2;
    var flag2 = 2;
    var processing = false;
    $("#girl").on("click", function () {
        if (processing)return;
        gender = "girl";
        $(this.firstElementChild).show();
        $(this.nextElementSibling.firstElementChild).hide();
    });
    $("#boy").on("click", function () {
        if (processing)return;
        gender = "boy";
        $(this.firstElementChild).show();
        $(this.previousElementSibling.firstElementChild).hide();
    });
    $("#imgGroup1 img").on("click", function () {
        if (processing)return;
        img1 = $(this).attr("name");
        $("#imgGroup1 p").hide();
        $(this.previousElementSibling).show();
    });
    $("#imgGroup2 img").on("click", function () {
        if (processing)return;
        img2 = $(this).attr("name");
        $("#imgGroup2 p").hide();
        $(this.previousElementSibling).show();
    });
    function showResult() {
        if (processing)return;
        if (gender == "" || img1 == "" || img2 == "") {
            alert("还有没选择的哦～");
        } else {
            if (gender == "boy") {
                if (img1 == "1-1") {
                    if (img2 == "1-3" || img2 == "2-2" || img2 == "1-1") {
                        //陈俊生
                        $("#resultName").text("陈俊生");
                        $("#resultImg").attr("src", "/resources/tfht/img/cjs.jpg");
                        $("#resultContent").text("陈俊生是一个事业家庭都成功的精英，但是每日面对全职太太的盘问难免有些厌倦，而在生活中又出现了自己的红颜知己。他对生活和婚姻都陷入迷惘与纠结，究竟是冲出围城还是继续在围城里维持让他痛苦不已。你像陈俊生多一些，生活中时常会有这么无奈的时候。");
                    } else if (img2 == "1-2" || img2 == "2-1" || img2 == "2-3") {
                        //唐晶
                        $("#resultName").text("唐晶");
                        $("#resultImg").attr("src", "/resources/tfht/img/tj.jpg");
                        $("#resultContent").text("唐晶是一个职场女强人，她信奉独立自强的价值观念，在职场披荆斩棘，取得成绩。你有一些像唐晶，也是一个对婚姻没有安全感的人，更相信工作带来的安全感。");
                    }
                } else if (img1 == "1-2") {
                    if (img2 == "1-3" || img2 == "2-2" || img2 == "1-1") {
                        //陈俊生
                        $("#resultName").text("陈俊生");
                        $("#resultImg").attr("src", "/resources/tfht/img/cjs.jpg");
                        $("#resultContent").text("陈俊生是一个事业家庭都成功的精英，但是每日面对全职太太的盘问难免有些厌倦，而在生活中又出现了自己的红颜知己。他对生活和婚姻都陷入迷惘与纠结，究竟是冲出围城还是继续在围城里维持让他痛苦不已。你像陈俊生多一些，生活中时常会有这么无奈的时候。");
                    } else if (img2 == "1-2" || img2 == "2-1" || img2 == "2-3") {
                        //贺涵
                        $("#resultName").text("贺涵");
                        $("#resultImg").attr("src", "/resources/tfht/img/hh.jpg");
                        $("#resultContent").text("咨询业精英，以资深、专业、才能享誉商界，面对职场商战，从容不迫、游刃有余，是典型的理性都市人格。个性沉稳，不太愿意去触碰能力范围外的事物。知道有些目标并非遥不可及，拼一把，或许能够更上一层台阶。");
                    }
                } else if (img1 == "1-3") {
                    if (img2 == "1-3" || img2 == "2-2" || img2 == "1-1") {
                        //凌玲
                        $("#resultName").text("凌玲");
                        $("#resultImg").attr("src", "/resources/tfht/img/ll.jpg");
                        $("#resultContent").text("凌玲有智商，手段高明，又看似温婉，秀外慧中，这样的女人，表面朴素宽厚，实则工于心计、步步为营，所以这样的最强小三，把懦弱的陈俊生收拾住也就顺理成章。你像凌玲，不是说你也会当小三，而是你也是一个有智商有手段的人，在哪都成功。");
                    } else if (img2 == "1-2" || img2 == "2-1" || img2 == "2-3") {
                        //贺涵
                        $("#resultName").text("贺涵");
                        $("#resultImg").attr("src", "/resources/tfht/img/hh.jpg");
                        $("#resultContent").text("咨询业精英，以资深、专业、才能享誉商界，面对职场商战，从容不迫、游刃有余，是典型的理性都市人格。个性沉稳，不太愿意去触碰能力范围外的事物。知道有些目标并非遥不可及，拼一把，或许能够更上一层台阶。");
                    }
                }
            } else if (gender == "girl") {
                if (img1 == "1-1") {
                    if (img2 == "1-3" || img2 == "2-2" || img2 == "1-1") {
                        //罗子君
                        $("#resultName").text("罗子君");
                        $("#resultImg").attr("src", "/resources/tfht/img/lzj.jpg");
                        $("#resultContent").text("罗子君在一出场的时候，就是一个沉溺在养尊处优生活中的全职太太，最后被小三插足，丈夫提出离婚。她消沉过后，才崛起回归社会打拼，你像罗子君，有时心大发现不了危机，但是好在你能力不错，不管怎样都不会太差。");
                    } else if (img2 == "1-2" || img2 == "2-1" || img2 == "2-3") {
                        //凌玲
                        $("#resultName").text("凌玲");
                        $("#resultImg").attr("src", "/resources/tfht/img/ll.jpg");
                        $("#resultContent").text("凌玲有智商，手段高明，又看似温婉，秀外慧中，这样的女人，表面朴素宽厚，实则工于心计、步步为营，所以这样的最强小三，把懦弱的陈俊生收拾住也就顺理成章。你像凌玲，不是说你也会当小三，而是你也是一个有智商有手段的人，在哪都成功。");
                    }
                } else if (img1 == "1-2") {
                    if (img2 == "1-3" || img2 == "2-2" || img2 == "1-1") {
                        //罗子君
                        $("#resultName").text("罗子君");
                        $("#resultImg").attr("src", "/resources/tfht/img/lzj.jpg");
                        $("#resultContent").text("罗子君在一出场的时候，就是一个沉溺在养尊处优生活中的全职太太，最后被小三插足，丈夫提出离婚。她消沉过后，才崛起回归社会打拼，你像罗子君，有时心大发现不了危机，但是好在你能力不错，不管怎样都不会太差。");
                    } else if (img2 == "1-2" || img2 == "2-1" || img2 == "2-3") {
                        //唐晶
                        $("#resultName").text("唐晶");
                        $("#resultImg").attr("src", "/resources/tfht/img/tj.jpg");
                        $("#resultContent").text("唐晶是一个职场女强人，她信奉独立自强的价值观念，在职场披荆斩棘，取得成绩。你有一些像唐晶，也是一个对婚姻没有安全感的人，更相信工作带来的安全感。");
                    }
                } else if (img1 == "1-3") {
                    if (img2 == "1-3" || img2 == "2-2" || img2 == "1-1") {
                        //罗子君
                        $("#resultName").text("罗子君");
                        $("#resultImg").attr("src", "/resources/tfht/img/lzj.jpg");
                        $("#resultContent").text("罗子君在一出场的时候，就是一个沉溺在养尊处优生活中的全职太太，最后被小三插足，丈夫提出离婚。她消沉过后，才崛起回归社会打拼，你像罗子君，有时心大发现不了危机，但是好在你能力不错，不管怎样都不会太差。");
                    } else if (img2 == "1-2" || img2 == "2-1" || img2 == "2-3") {
                        //唐晶
                        $("#resultName").text("唐晶");
                        $("#resultImg").attr("src", "/resources/tfht/img/tj.jpg");
                        $("#resultContent").text("唐晶是一个职场女强人，她信奉独立自强的价值观念，在职场披荆斩棘，取得成绩。你有一些像唐晶，也是一个对婚姻没有安全感的人，更相信工作带来的安全感。");
                    }
                }
            }
            $("#processing").show();
            processing = true;
            window.setTimeout(function () {
                $("#processing").hide();
                $("#resultModal").modal();
                processing = false;
            }, 9300);
        }
    }
</script>
</html>